/* Developer profile styles */
.devs {
    display: flex;
    flex-wrap: wrap;
}

.dev {
    display: flex;
    align-items: center;
}

.dev h4 {
    margin: 0;
}

.avatar {
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 0 0 2px #aaaaaa;
    min-height: 80px;
    margin: 10px;
    min-width: 80px;
}

#laiton-avatar {
    background-image: url('./resources/images/AndresDavidLaiton.jpg');
}

#potdevin-avatar {
    background-image: url('./resources/images/ChristianPotdevin.jpg');
}

/* Scrollama styles */
.scrolly {
    display: flex;
    margin: 50px 0 0 -15%;
    position: relative;
    width: 130%;
}

.scrolly figure {
    overflow: visible;
    margin: 0;
    position: sticky;
    transform: translate3d(0, 0, 0);
    z-index: 0;
}

.scrolly figure img {
    height: 100%;
}

.scrolly .step {
    border-left: solid 10px transparent;
    margin-bottom: 200px;
    padding: 0 20px 0 7px;
    width: 400px;
}

.scrolly .step:first-child {
    margin-top: 200px;
}

.scrolly .step:last-child {
    margin-bottom: 66vh;
}

.scrolly .step.is-active {
    border-left: solid 10px dodgerblue;
}